<!--<div id="carousel-example-generic2" class="carousel slide">
  &lt;!&ndash; Wskaźniki w postaci kropek &ndash;&gt;
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
  </ol>

  &lt;!&ndash; Slajdy &ndash;&gt;
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://placehold.it/1280x500" alt="">
      &lt;!&ndash; Opis slajdu &ndash;&gt;
      <div class="carousel-caption">
        <h3>To jest opis</h3>
        <p>pierwszego slajdu</p>
      </div>
    </div>

    <div class="item">
      <img src="http://placehold.it/1280x500" alt="">
      &lt;!&ndash; Opis slajdu &ndash;&gt;
      <div class="carousel-caption">
        <h3>To jest opis</h3>
        <p>drugiego slajdu</p>
      </div>
    </div>

    <div class="item">
      <img src="http://placehold.it/1280x500" alt="">
      &lt;!&ndash; Opis slajdu &ndash;&gt;
      <div class="carousel-caption">
        <h3>To jest opis</h3>
        <p>trzeciego slajdu</p>
      </div>
    </div>

  </div>

  &lt;!&ndash; Strzałki do przewijania &ndash;&gt;
  <a class="left carousel-control" href="#carousel-example-generic2" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic2" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>-->

<nav class="uk-navbar-container" uk-navbar>

  <div class="uk-navbar-center">

    <ul class="uk-navbar-nav">
      <li><a routerLink="dashboard">Dashboard</a></li>
      <li><a routerLink="cars">Cars</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </div>

</nav>

