<!--
<h4>Our cars:</h4>
<ul class="cars">
  <li *ngFor="let car of cars">
    <a routerLink="/cars/{{car.id}}">
      <span class="badge">{{car.carClass}}</span> {{car.marka}} {{car.model}}
    </a>
  </li>
</ul>-->

<h4>Our cars:</h4>
<ul class="cars">
  <ng-container *ngFor="let car of cars">
    <li *ngIf="!car.isRented">
    <a routerLink="/cars/{{car.id}}">
      <span class="badge">{{car.carClass}}</span> {{car.marka}} {{car.model}}
    </a>
    </li>

  </ng-container>
</ul>


<ng-container *ngFor="let nav_link of defaultLinks" >
  <li *ngIf="nav_link.visible">
    .....
  </li>
</ng-container>
